<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
    		<div class="item item-divider">
    			Time Series
		</div>
		<label class="item item-input item-floating-label">
			<span class="input-label">Time Series URL</span>
			<input type="text" placeholder="Time Series URL">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Zone ID</span>
			<input type="text" placeholder="Zone ID">
		</label>
		<div class="item item-divider">
    			UAA
		</div>
		<label class="item item-input item-floating-label">
			<span class="input-label">Trusted Issuer ID</span>
			<input type="text" placeholder="Trusted Issuer ID">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Client ID</span>
			<input type="text" placeholder="Client ID">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Client Secret</span>
			<input type="password" placeholder="Client Secret">
		</label>
	</div>
  </ion-content>
</ion-view>
